<app-nav></app-nav>
<div class="shopping-cart">
  <h1>Shopping Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product Details</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td >
          <div class="product-details">
            <img  [src]="'http://localhost:3000/'+item.product.image"
            />
            <div>
              <p>{{ item.name }}</p>
              <small>Size: {{ item?.product.size }}</small>
            </div>
          </div>
        </td>
        <td>${{ item.price }}</td>
        <td>
          <div class="quantity">
            <button (click)="decreaseQuantity(item)">-</button>
            <input type="text" [value]="item.quantity" readonly />
            <button (click)="increaseQuantity(item)">+</button>
          </div>
        </td>
        <td>${{ item.price * item.quantity }}</td>
        <td><button (click)="removeItem(item)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <div class="cart-footer">
    <a href="#">Continue Shopping</a>
  </div>
</div>

